
.item
{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    cursor: pointer;
}
.item-caption
{
    position: absolute;
    background-color: #fff;
    width: 80%;
    bottom: 20px;
    border-radius: 20px;  
}
#lightboxContainer
{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
#lightboxitem
{
    position: relative;
    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-2.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lightboxitem i 
{
    font-size: 22px;
    cursor: pointer;
}
#close
{
    position: absolute;
    top: 30px;
    right: 30px;
}
@media (max-width:767px)
{
    #lightboxitem{
        width: 90%;
    }  
}
